$logoColor: #08A6E4;
$redColor: #FB3B64;
$blueColor: #07ACE6;
$greenColor: #55DFB4;
$redButton: #EB476E;
$greyColor: #A5A5A5;
$whiteColor: #fff;
$background:  #F7F7F7;
$blackColor: #000;
$shadow: #00000029;
$checkbox: #95989A;